<div class="blog">
  <div class="wrapper">
    <div class="content-blog content-blog--travel">
      <button class="blog_name">travel</button>
      <div class="author">
        <img src="./img/Luka.png" alt="luka">
        <div class="author_name">
          <p class="full-name">Luke Cage</p>
          <p>October 11, 2016</p>
        </div>
      </div>
      <h1 class="blog-title">The 10 most beautiful places you should visit in your life</h1>
    </div>
    <div class="blog-desc">
      <p>Vestibulum ut placerat nisl. Cras sed purus tellus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis posuere nisi sit amet neque finibus vestibulum. Vivamus at leo ut turpis posuere molestie. Nullam at turpis nec metus pharetra bibendum. 
      </p>
      <a href="/link-blog" class="blog_links">Continue Reading</a>
    </div>
  </div>
  <div class="wrapper">
    <div class="content-blog content-blog--map">
      <button class="blog_name">travel</button>
      <div class="author">
        <img src="./img/Jessiсa.png" alt="luka">
        <div class="author_name">
          <p class="full-name">Jessiсa Norberts</p>
          <p>October 11, 2016</p>
        </div>
      </div>
      <h1 class="blog-title">The 10 most beautiful places you should visit in your life</h1>
    </div>
    <div class="blog-desc">
      <p>Vestibulum ut placerat nisl. Cras sed purus tellus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis posuere nisi sit amet neque finibus vestibulum. Vivamus at leo ut turpis posuere molestie. Nullam at turpis nec metus pharetra bibendum. 
      </p>
      <a href="/link-blog" class="blog_links">Continue Reading</a>
    </div>
  </div>
  <div class="wrapper">
    <div class="content-blog content-blog--photography">
      <button class="blog_name">travel</button>
      <div class="author">
        <img src="./img/Luka.png" alt="luka">
        <div class="author_name">
          <p class="full-name">Luke Cage</p>
          <p>October 11, 2016</p>
        </div>
      </div>
      <h1 class="blog-title">The 10 most beautiful places you should visit in your life</h1>
    </div>
    <div class="blog-desc">
      <p>Vestibulum ut placerat nisl. Cras sed purus tellus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis posuere nisi sit amet neque finibus vestibulum. Vivamus at leo ut turpis posuere molestie. Nullam at turpis nec metus pharetra bibendum. 
      </p>
      <a href="/link-blog" class="blog_links">Continue Reading</a>
    </div>
  </div>
  
  <div class="wrapper-blog">
    <h2>Want to read more or create new blog ?</h2>
    <div class="create-blog_box-btn">
      <button class="visit-blog">Visit Blog Archive</button>
      <button class="create-blog">Create new blog</button>
    </div>
  </div>
</div>

