<footer>
  <div class="copyright">
    <p class="first">Copyright © Explorer - Images used for demonstration purpose only ( <span> Licenses</span> )</p>
    <p>Copyright © <span> Studio Corvus</span>  Powered by <span>Webflow</span></p>
  </div>
</footer>