<div class="wrapper-modal">
  <div class="modal">
    <div class="form-blog">
      <a class="close" href="#"><img src="./img/close.png" alt="close"></a>
      <h1 class="title">Create new blog</h1>
      <label for="name">Enter your name</label>
      <input  type="text" id="name">
      <label for="date">Enter publication date</label>
      <input  type="text" id="date" placeholder="October 11, 2016">
      <p>Enter article title</p>
      <textarea class="value-title" placeholder="Enter text...."></textarea>
      <p>What we write about ?</p>
      <textarea class="value-desc" ></textarea>
      <button class="create">Create new Blog</button>
    </div>
  </div>
</div>