<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog</title>
  <link rel="stylesheet" href="./styles/normalize.css">
  <link rel="stylesheet" href="./styles/style.css">
</head>
<body>
  <main class="main">
    <div class="main-container">
      <%- include('./header') %> 

      <%- include('./serch-blogDB') %> 

    </div>
  </main>

  
  <%- include('./footer') %> 


  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.3/axios.min.js"></script>
  <script src="./scripts/comment.js"></script>
</body>
</html>