<section class="featured-stories">
  <div class="featured-stories_title">
    <h2>featured-stories</h2>
    <p>Did you read our personal favorites?</p>
  </div>
  <div class="stories-image">
    <div class="stories-image_wrapper">
      <div class="stories-image_author">
        <div class="author">
          <img src="./img/Luka.png" alt="luka">
          <div class="author_name">
            <p>Luke Cage</p>
            <p class="date">October 11, 2016</p>
          </div>
        </div>
      </div>
    <p class="desc">The 10 most beautiful places you should visit in your life</p>
    </div>
    <div class="stories-image_wrapper">
      <div class="stories-image_author author--Jesika">
        <div class="author">
          <img src="./img/JessiÑa.png" alt="Jesica">
          <div class="author_name">
            <p>Luke Cage</p>
            <p class="date">October 11, 2016</p>
          </div>
        </div>
      </div>
    <p class="desc">The 10 most beautiful places you should visit in your life</p>
    </div>
    <div class="stories-image_wrapper">
      <div class="stories-image_author author--luke">
        <div class="author">
          <img src="./img/Luka.png" alt="luka">
          <div class="author_name">
            <p>Luke Cage</p>
            <p class="date">October 11, 2016</p>
          </div>
        </div>
      </div>
    <p class="desc">The 10 most beautiful places you should visit in your life</p>
    </div>
  </div>
  <div class="description">Want to read all of our stories? <a href="#"> Read the full blog</a></div>
</section>